/* Sidebar.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 10px 0;
}

.sidebar-menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.sidebar-menu li a:hover {
  display: block;
  font-size: 22px;
  padding: 5px;
  /* border-radius: 10%; */
  border: 1px solid rgb(160, 80, 80);
  background-color: dimgray;
  box-shadow: inset;
  text-decoration: underline;
}
